<div class="card-row">
    <nb-card class="list-card" size="tiny">
      <nb-card-header><i class="fas fa-circle exec" style="color: #8cb6ee"></i> Device Compatibility</nb-card-header>

      <nb-list>
        <nb-list-item *ngFor="let device of devices">

          <ng-container *ngIf="device.status === true; then thenBlock; else elseBlock"></ng-container>
            <ng-template #thenBlock>
              <i class="far fa-circle" style="color: red"></i> <i class="fas fa-circle" style="color: green"></i> &nbsp; {{device.model}} 
            </ng-template>
            <ng-template #elseBlock>
              <i class="fas fa-circle" style="color: green"></i> <i class="far fa-circle" style="color: red"></i> &nbsp; {{device.model}}
            </ng-template>

        </nb-list-item>
      </nb-list>
      
      
    </nb-card>
  </div>



