<div class="card-row">
    <nb-card size="Medium" style="border: none; background-color: whitesmoke">
      <nb-card-header> <h5 class="text-center">Issues</h5> </nb-card-header>
      <nb-card-body>
        <div style="display: flex; justify-content: center;">
       
        </div>
      </nb-card-body>
      <nb-card-body>
        <table class="table table-striped table-condensed table-hover">
          <tbody>
            <ng-container *ngFor="let param of issueParams">
            <tr >
              <td>{{param.param}}</td>
              <td>{{param.value}}</td>
              <td></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
