<div class="row">
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6 ">
    <!-- <ngx-executive-summary [chartValue]="solarValue"></ngx-executive-summary> -->

    <div class="card ">
      <div class="card-body" style="padding: 0;">
        <ngx-flawless></ngx-flawless>
        <ngx-e-com-stability></ngx-e-com-stability>
      </div>
    </div>
  </div>
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <!-- <ngx-executive-summary [chartValue]="solarValue"></ngx-executive-summary> -->

    <div class="card">
      <div class="card-body">
        <ngx-homepage-performance></ngx-homepage-performance>
        <ngx-product-details-performance></ngx-product-details-performance>
        <!-- <ngx-e-com-stability></ngx-e-com-stability> -->
      </div>
    </div>
  </div>
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <!-- <ngx-executive-summary [chartValue]="solarValue"></ngx-executive-summary> -->

    <div class="card">
      <div class="card-body">
        <ngx-search-performance></ngx-search-performance>
        <ngx-cart-performance></ngx-cart-performance>
        <!-- <ngx-e-com-stability></ngx-e-com-stability> -->
      </div>
    </div>
  </div>
  <div class="col-xxxl-8 col-xxl-8 col-lg-7 col-md-6">
    <!-- <nb-card size="large">
      <nb-card-header><i class="fas fa-circle exec"></i>  E-com stability scoreboard</nb-card-header>
      <nb-card-body>
        <ngx-e-com-stability-scoreboard></ngx-e-com-stability-scoreboard>
      </nb-card-body>
    </nb-card> -->
  </div>
</div>
<div class="row">
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <ngx-payment-performance></ngx-payment-performance>
    <!-- <ngx-markets></ngx-markets> -->
  </div>
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <ngx-promos-performance></ngx-promos-performance>
    <!-- <ngx-browser-compatibility></ngx-browser-compatibility> -->
  </div>
  <div class="col-xxxl-4 col-xxl-4 col-lg-5 col-md-6">
    <ngx-post-order-performance></ngx-post-order-performance>
    <!-- <ngx-device-compatibility></ngx-device-compatibility> -->
  </div>
</div>
