<div class="card-row">
    <nb-card class="list-card" size="tiny">
      <nb-card-header><i class="fas fa-circle exec" style="color: #8cb6ee"></i> Browser Compatibility</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let browser of browsers">
          {{browser.type}} &nbsp;
          <i class="fas fa-circle" style="color: red"></i> &nbsp;
          <i class="fas fa-circle" style="color: #eed98c"></i> &nbsp;
          <i class="fas fa-circle" style="color: #f0e6c1"></i> &nbsp;
          <i class="far fa-circle" style="color: green"></i>&nbsp;
          <i class="far fa-circle" style="color: green"></i>&nbsp; 
        </nb-list-item>
      </nb-list>
    </nb-card>
</div>