<div class="card-row" style="color: pink; background-color: white">
  <nb-card-header
    ><i class="fas fa-circle exec" style="color: #8cb6ee"></i> Executive
    summary</nb-card-header
  >
</div>
<div class="card-row">
  <div class="card-col">
    <nb-card size="tiny" style="border: none">
      <nb-card-body>
        <div class="card" style="border: gray 5px">
          <div
            class="card-body"
            style="background-color: #8cb6ee; border-radius: 5px"
          >
            <strong>5.3 seconds</strong>
            <p class="card-text">Load time</p>
          </div>
          <div class="card-body">
            <strong>320</strong>
            <p class="card-text">Nr. of errors</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="card-col">
    <nb-card size="tiny" style="border: none; background-color: whitesmoke">
      <nb-card-body>
        <h5>System stability</h5>
        <circle-progress
          [percent]="percent"
          [radius]="radius"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="color"
          [innerStrokeColor]="color"
          [animation]="true"
          [animationDuration]="300"
          startFromZero="true"
        ></circle-progress>
        <!-- </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
