<div class="row">
  <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
    <div class="card">
      <div class="card-body" >
        <ngx-load-time-homepage></ngx-load-time-homepage>
        <ngx-issues></ngx-issues>
    </div>
    </div>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
    <div class="card">
      <div class="card-body" >
        <ngx-images></ngx-images>
        <ngx-videos></ngx-videos>
        <ngx-fonts></ngx-fonts>
        <ngx-colors></ngx-colors>
      </div>
    </div>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
    <div class="card">
      <div class="card-body">
        <ngx-search-bar></ngx-search-bar>
        <ngx-service></ngx-service>
        <ngx-footer-bar></ngx-footer-bar> 
      </div>
    </div>
  </div>
  <div class="col-xxxl-3 col-xxl-3 col-lg-5 col-md-6">
    <div class="card">
      <div class="card-body" >
        <ngx-navigation></ngx-navigation>
        <ngx-buttons></ngx-buttons>
        <ngx-sidebar></ngx-sidebar>
        <ngx-persistent-bar></ngx-persistent-bar>
      </div>
    </div>
  </div>
</div>
