<div class="card-row">
  <nb-card class="list-card" size="tiny">
    <nb-card-header><i class="fas fa-circle exec" style="color: #8cb6ee"></i> Markets</nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let market of markets">
<!--       
        {{ market.country }} &nbsp;
        <img src={{market.flag}} style="height: 1.5rem;" alt="image"> &nbsp;
         {{ market.percentage }}% 
        -->

         <div class="market-list">
          <!-- <h5>Load time</h5>
          <p style="border: px solid;">132 sec</p> -->
          <div><p>{{ market.country }} &nbsp;</p></div>
          <div><img src={{market.flag}} style="height: 1.5rem;" alt="image"> &nbsp;</div>
          <div><p> {{ market.percentage }}%</p></div>
          
         
          
          
        </div>

      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
